<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/kids-style.css">
    </head>

    <body>
        <div id="invite">
            <h3>Dear Jack,</h3>

            <p>We're very excited to invite you to Bibi's birthday party!</p>

            <p>
            <strong>Date:</strong> Thursday 20th January<br>
            <strong>Time:</strong> 6pm
            </p>

            <p>
            See you there,<br>
            <em>Renee</em>
            </p>
        </div>
    </body>


</html>